<div class="row">
	<div class="widget">
		<div class="widget-header">
		    <i class="icon-bar-chart"></i>
		    <h3>Create a prescription</h3>
		</div>
		<div class="widget-content">

				<form id="edit-profile" class="form-horizontal">
					<fieldset>
						<div class="control-group">											
							<label class="control-label" for="firstname">Date</label>
							<div class="controls">
					            <p class="input-group">
					              <input type="text" 
					              		 class="form-control" 
					              		 datepicker-popup="{{format}}" 
					              		 ng-model="prescription.date" 
					              		 is-open="opened" 
					              		 min-date="minDate" 
					              		 max-date="'2015-06-22'" 
					              		 datepicker-options="dateOptions" 
					              		 date-disabled="disabled(date, mode)" 
					              		 ng-required="true" 
					              		 close-text="Close" 
					              		 readonly/>
					              <span class="input-group-btn">
					                <button type="button" class="btn btn-large" ng-click="open($event)"><i class="icon-calendar"></i></button>
					              </span>
					            </p>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="lotNumber">Lot Number</label>
							<div class="controls">
								<input type="text" ng-model="lotNumberHead" class="span2" id="lot-number-head">
								<input type="text" ng-model="lotNumberBody" class="span2" id="lot-number-body">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="partNumber">Part Number</label>
							<div class="controls">
								<script type="text/ng-template" id="customTemplate.html">
  									<a><span bind-html-unsafe="match.label | typeaheadHighlight:query"></span></a>
								</script>
        						<input type="text" 
        								ng-model="prescription.partNumberHead"
        								typeahead="c as c.partNumberHead for c in partNumberHeads | filter:$viewValue | limitTo:10" 
        								typeahead-min-length='1' 
        								typeahead-on-select='onSelectPart($item, $model, $label)' 
        								typeahead-template-url="customTemplate.html" 
        								class="span1">
        						-
        						<input type="text" ng-model="prescription.partNumberBody" class="span2" id="part-number-body">
							</div>
						</div>
						
						<div class="widget-content">
			              <table class="table table-striped table-bordered">
			                <thead>
			                  <tr>
			                  	<th> Item </th>
			                    <th> Prescription </th>
			                    <th> Amount </th>
			                    <th> Price </th>
			                    <th> Note </th>
			                  </tr>
			                </thead>
			                <tbody>
			                  <tr>
			                    <td> 1 </td>
			                    <td> <input type="text" class="span3" id="name-1" ng-model="names[0]"> </td>
			                    <td> <input type="text" class="span2" id="amount-1" ng-model="amounts[0]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-1" ng-model="prices[0]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-1" ng-model="notes[0]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 2 </td>
			                    <td> <input type="text" class="span3" id="name-2" ng-model="names[1]"> </td>
			                    <td> <input type="text" class="span2" id="amount-2" ng-model="amounts[1]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-2" ng-model="prices[1]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-2" ng-model="notes[1]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 3 </td>
			                    <td> <input type="text" class="span3" id="name-3" ng-model="names[2]"> </td>
			                    <td> <input type="text" class="span2" id="amount-3" ng-model="amounts[2]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-3" ng-model="prices[2]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-3" ng-model="notes[2]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 4 </td>
			                    <td> <input type="text" class="span3" id="name-4" ng-model="names[3]"> </td>
			                    <td> <input type="text" class="span2" id="amount-4" ng-model="amounts[3]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-4" ng-model="prices[3]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-4" ng-model="notes[3]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 5 </td>
			                    <td> <input type="text" class="span3" id="name-5" ng-model="names[4]"> </td>
			                    <td> <input type="text" class="span2" id="amount-5" ng-model="amounts[4]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-5" ng-model="prices[4]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-5" ng-model="notes[4]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 6 </td>
			                    <td> <input type="text" class="span3" id="name-6" ng-model="names[5]"> </td>
			                    <td> <input type="text" class="span2" id="amount-6" ng-model="amounts[5]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-6" ng-model="prices[5]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-6" ng-model="notes[5]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 7 </td>
			                    <td> <input type="text" class="span3" id="name-7" ng-model="names[6]"> </td>
			                    <td> <input type="text" class="span2" id="amount-7" ng-model="amounts[6]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-7" ng-model="prices[6]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-7" ng-model="notes[6]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 8 </td>
			                    <td> <input type="text" class="span3" id="name-8" ng-model="names[7]"> </td>
			                    <td> <input type="text" class="span2" id="amount-8" ng-model="amounts[7]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-8" ng-model="prices[7]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-8" ng-model="notes[7]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 9 </td>
			                    <td> <input type="text" class="span3" id="name-9" ng-model="names[8]"> </td>
			                    <td> <input type="text" class="span2" id="amount-9" ng-model="amounts[8]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-9" ng-model="prices[8]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-9" ng-model="notes[8]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 10 </td>
			                    <td> <input type="text" class="span3" id="name-10" ng-model="names[9]"> </td>
			                    <td> <input type="text" class="span2" id="amount-10" ng-model="amounts[9]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-10" ng-model="prices[9]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-10" ng-model="notes[9]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 11 </td>
			                    <td> <input type="text" class="span3" id="name-11" ng-model="names[10]"> </td>
			                    <td> <input type="text" class="span2" id="amount-11" ng-model="amounts[10]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-11" ng-model="prices[10]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-11" ng-model="notes[10]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 12 </td>
			                    <td> <input type="text" class="span3" id="name-12" ng-model="names[11]"> </td>
			                    <td> <input type="text" class="span2" id="amount-12" ng-model="amounts[11]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-12" ng-model="prices[11]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-12" ng-model="notes[11]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 13 </td>
			                    <td> <input type="text" class="span3" id="name-13" ng-model="names[12]"> </td>
			                    <td> <input type="text" class="span2" id="amount-13" ng-model="amounts[12]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-13" ng-model="prices[12]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-13" ng-model="notes[12]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 14 </td>
			                    <td> <input type="text" class="span3" id="name-14" ng-model="names[13]"> </td>
			                    <td> <input type="text" class="span2" id="amount-14" ng-model="amounts[13]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-14" ng-model="prices[13]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-14" ng-model="notes[13]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 15 </td>
			                    <td> <input type="text" class="span3" id="name-15" ng-model="names[14]"> </td>
			                    <td> <input type="text" class="span2" id="amount-15" ng-model="amounts[14]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-15" ng-model="prices[14]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-15" ng-model="notes[14]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 16 </td>
			                    <td> <input type="text" class="span3" id="name-16" ng-model="names[15]"> </td>
			                    <td> <input type="text" class="span2" id="amount-16" ng-model="amounts[15]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-16" ng-model="prices[15]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-16" ng-model="notes[15]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 17 </td>
			                    <td> <input type="text" class="span3" id="name-17" ng-model="names[16]"> </td>
			                    <td> <input type="text" class="span2" id="amount-17" ng-model="amounts[16]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-17" ng-model="prices[16]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-17" ng-model="notes[16]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 18 </td>
			                    <td> <input type="text" class="span3" id="name-18" ng-model="names[17]"> </td>
			                    <td> <input type="text" class="span2" id="amount-18" ng-model="amounts[17]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-18" ng-model="prices[17]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-18" ng-model="notes[17]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 19 </td>
			                    <td> <input type="text" class="span3" id="name-19" ng-model="names[18]"> </td>
			                    <td> <input type="text" class="span2" id="amount-19" ng-model="amounts[18]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-19" ng-model="prices[18]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-19" ng-model="notes[18]"> </td>
			                  </tr>
			                  
			                  <tr>
			                    <td> 20 </td>
			                    <td> <input type="text" class="span3" id="name-20" ng-model="names[19]"> </td>
			                    <td> <input type="text" class="span2" id="amount-20" ng-model="amounts[19]" select-on-click> KG </td>
			                    <td> <input type="text" class="span2" id="price-20" ng-model="prices[19]" select-on-click> </td>
			                    <td> <input type="text" class="span4" id="note-20" ng-model="notes[19]"> </td>
			                  </tr>
			                </tbody>
			              </table>
			              
			              <div class="span4">
			              Total Amount: <input type="text" class="span2" id="totalAmount" ng-model="prescription.totalAmount" readonly> KG
			              </div>
			              <div class="span4">
			              Total Price: <input type="text" class="span2" id="totalPrice" ng-model="prescription.totalPrice" readonly>
			              </div>              
			              
			            </div>
			            
			            <hr>
			            
			            <div class="control-group">
							<label class="control-label" for="hand">Total Amount&nbsp;&nbsp;&nbsp;x</label>
							<div class="controls">
								<input type="text" class="span3" id="hand" ng-model="prescription.hand"> Hand
							</div>
							
			            </div>
			            
			            <div class="control-group">
							<label class="control-label" for="totalAmountAfterHanded">=</label>
							<div class="controls">
								<input type="text" class="span3" id="totalAmountAfterHanded" ng-model="prescription.totalAmountAfterHanded" readonly> KG
							</div>
			            </div>
			            
			            <div class="control-group">
							<label class="control-label" for="averageCost">Average</label>
							<div class="controls">
								<input type="text" class="span3" id="averageCost" ng-model="prescription.averageCost" readonly> (Price / Amount)
							</div>
			            </div>
            
						<div class="form-actions">
							<button type="button" class="btn btn-primary" ng-click="submit()">Save</button> 
							<button type="reset" class="btn">Reset</button>
						</div> <!-- /form-actions -->
					</fieldset>
				</form>

		</div>
	</div>
</div>