<h3>{{ 'ADD_A_PRESCRIPTION' | translate }}</h3>
<div class="col-md-12 well">
	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">{{ 'DATE' | translate }}</label>
	    <div class="col-sm-5">
	    	<p class="input-group">
		       <input type="text" 
	            		 class="form-control" 
	            		 datepicker-popup="{{format}}" 
	            		 ng-model="prescription.date" 
	            		 is-open="opened" 
	            		 min-date="minDate" 
	            		 max-date="'2015-06-22'" 
	            		 datepicker-options="dateOptions" 
	            		 date-disabled="disabled(date, mode)" 
	            		 ng-required="true" 
	            		 close-text="Close" 
	            		 readonly/>
		       <span class="input-group-btn">
		         <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		       </span>
	        </p>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">{{ 'LOT_NUMBER' | translate }}</label>
	    <div class="col-sm-5">
	      <input type="text" ng-model="prescription.lotNumber" class="form-control" id="lot-number">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">{{ 'PART_NUMBER' | translate }}</label>
	    <div class="col-sm-2">
			<script type="text/ng-template" id="customTemplate.html">
			<a><span bind-html-unsafe="match.label | typeaheadHighlight:query"></span></a>
		</script>
			<input type="text" 
					ng-model="prescription.partNumberHead"
					typeahead="c as c.partNumberHead for c in partNumberHeads | filter:$viewValue | limitTo:10" 
					typeahead-min-length='1' 
					typeahead-on-select='onSelectPart($item, $model, $label)' 
					typeahead-template-url="customTemplate.html" 
					class="form-control">
	    </div>
	    <div class="col-sm-3">
	      <input type="text" ng-model="prescription.partNumberBody" class="form-control" id="part-number-body">	
	    </div>
	  </div>
	  <hr />
	  <div class="form-group">
	  	<div class="well">
			<div class="form-group">
			  <div class="col-xs-1">
			    {{ 'ITEM' | translate }}
			  </div>
			  <div class="col-xs-3">
			    {{ 'PRESCRIPTION_NAME' | translate }}
			  </div>
			  <div class="col-xs-2">
			    {{ 'AMOUNT' | translate }}
			  </div>
			  <div class="col-xs-2">
			    {{ 'PRICE' | translate }}
			  </div>
			  <div class="col-xs-4">
			    {{ 'NOTE' | translate }}
			  </div>
			</div>
			<div class="form-group">
				  <div class="col-xs-1">
				    1
				  </div>
				  <div class="col-xs-3">
				    <input type="text" ng-model="names[0]" class="form-control">
				  </div>
				  <div class="col-xs-2">
				    <input type="text" ng-model="amounts[0]" class="form-control" select-on-click nnn>
				  </div>
				  <div class="col-xs-2">
				    <input type="text" ng-model="prices[0]" class="form-control" select-on-click nnn>
				  </div>
				  <div class="col-xs-4">
				    <input type="text" ng-model="notes[0]" class="form-control">
				  </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   2
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[1]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[1]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[1]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[1]" class="form-control">
				 </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   3
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[2]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[2]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[2]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[2]" class="form-control">
				 </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   4
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[3]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[3]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[3]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[3]" class="form-control">
				 </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   5
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[4]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[4]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[4]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[4]" class="form-control">
				 </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   6
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[5]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[5]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[5]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[5]" class="form-control">
				 </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   7
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[6]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[6]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[6]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[6]" class="form-control">
				 </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   8
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[7]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[7]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[7]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[7]" class="form-control">
				 </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   9
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[8]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[8]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[8]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[8]" class="form-control">
				 </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   10
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[9]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[9]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[9]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[9]" class="form-control">
				 </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   11
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[10]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[10]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[10]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[10]" class="form-control">
				 </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   12
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[11]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[11]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[11]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[11]" class="form-control">
				 </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   13
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[12]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[12]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[12]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[12]" class="form-control">
				 </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   14
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[13]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[13]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[13]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[13]" class="form-control">
				 </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   15
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[14]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[14]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[14]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[14]" class="form-control">
				 </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   16
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[15]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[15]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[15]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[15]" class="form-control">
				 </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   17
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[16]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[16]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[16]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[16]" class="form-control">
				 </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   18
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[17]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[17]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[17]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[17]" class="form-control">
				 </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   19
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[18]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[18]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[18]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[18]" class="form-control">
				 </div>
			</div>
			
			<div class="form-group">
				 <div class="col-xs-1">
				   20
				 </div>
				 <div class="col-xs-3">
				   <input type="text" ng-model="names[19]" class="form-control">
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="amounts[19]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-2">
				   <input type="text" ng-model="prices[19]" class="form-control" select-on-click nnn>
				 </div>
				 <div class="col-xs-4">
				   <input type="text" ng-model="notes[19]" class="form-control">
				 </div>
			</div>
			<hr />
			
			<div class="form-inline">
				{{ 'TOTAL_AMOUNT' | translate }} <input type="text" class="form-control" id="totalAmount" ng-model="prescription.totalAmount" readonly> KG
			</div>
			<div class="form-group">
			</div>
			<div class="form-inline">
				{{ 'TOTAL_PRICE' | translate }} <input type="text" class="form-control" id="totalPrice" ng-model="prescription.totalPrice" readonly>
			</div>
		
	  	</div>
	  </div>
			            
	  <div class="form-inline">
	  		{{ 'TOTAL_AMOUNT' | translate }}&nbsp;&nbsp;&nbsp;x
	  		<input type="text" class="form-control" id="hand" ng-model="prescription.hand"> {{ 'HAND' | translate }}
			=
			<input type="text" class="form-control" id="totalAmountAfterHanded" ng-model="prescription.totalAmountAfterHanded" readonly> KG
	  </div>
	  
	  <div class="form-group">
	  </div>
	  
	  <div class="form-inline">
		    {{ 'AVERAGE_COST' | translate }}
		    <input type="text" class="form-control" id="averageCost" ng-model="prescription.averageCost" readonly> {{ 'FORMULA_AVERAGE_COST' | translate }}
	  </div>
	
	  <div class="form-group">
	  </div>
	  <hr />
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-primary" ng-click="submit()">{{ 'CONFIRM' | translate }}</button>
	      <button type="button" class="btn btn-default" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
	    </div>
	  </div>
	</form>
</div>