<script type="text/ng-template" id="/dialogs/custom2.html">
	{{data.id}}
	{{id}}
	<div class="modal-header">
		<h4 class="modal-title"><span class="glyphicon glyphicon-star"></span> {{prescription.lotNumber}} </h4>
	</div>
	<div class="modal-body">
		<div class="widget-content">
			<div class="control-group">
				<label class="control-label">Date</label>
				<div class="controls">
					{{prescription.date}}
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="customValue">Lot Number</label>
				<span class="help-block">{{prescription.lotNumber}}</span>
			</div>

			<div class="control-group">
				<label class="control-label" for="customValue">Part Number</label>
				<span class="help-block">{{prescription.partNumber}}</span>
			</div>

			<div class="control-group">
				<label class="control-label" for="customValue">Total Amount</label>
				<span class="help-block">{{prescription.totalAmount}}</span>
			</div>

			<div class="control-group">
				<label class="control-label" for="customValue">Total Price</label>
				<span class="help-block">{{prescription.totalPrice}}</span>
			</div>

			<div class="control-group">
				<label class="control-label" for="customValue">Average Cost</label>
				<span class="help-block">{{prescription.averageCost}}</span>
			</div>

			<div class="control-group">
				<label class="control-label" for="customValue">Hand</label>
				<span class="help-block">{{prescription.hand}}</span>
			</div>

			<div class="control-group">
				<label class="control-label" for="customValue">Total Amount After Handed</label>
				<span class="help-block">{{prescription.totalAmountAfterHanded}}</span>
			</div>

		  <table class="table table-striped table-bordered">
			<thead>
			  <tr>
				<th> Item </th>
				<th> Prescription </th>
				<th> Amount </th>
				<th> Price </th>
				<th> Note </th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="detail in prescription.details">
				<td> {{$index + 1}} </td>
				<td> {{detail.prescriptionName}} </td>
				<td> {{detail.amount}} KG </td>
				<td> {{detail.price}} </td>
				<td> {{detail.note}} </td>
			  </tr>
			</tbody>
		  </table>
		</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="done()">Done</button>
	</div>
</script>
<div class="row">
	<div class="widget">
		<div class="widget-header">
		    <i class="icon-bar-chart"></i>
		    <h3>Search The Prescriptions</h3>
		</div>
		<div class="widget-content">
			<div class="tab-pane active" id="formcontrols">
				<div class="well">
                    <h4>DataTables Usage Information</h4>
                    <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a href="https://datatables.net/" target="_blank">https://datatables.net/</a>.</p>
                    <a href="https://datatables.net/" target="_blank" class="btn btn-default btn-lg btn-block">View DataTables Documentation</a>
                </div>			
				<form id="edit-profile" class="form-horizontal">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>{{ 'DATE' | translate }}</th>
								<th>{{ 'LOT_NUMBER' | translate }}</th>
								<th>{{ 'PART_NUMBER' | translate }}</th>
								<th>{{ 'TOTAL_AMOUNT' | translate }}</th>
								<th>{{ 'TOTAL_AMOUNT_AFTER_HANDED' | translate }}</th>
								<th>{{ 'AVERAGE_COST' | translate }}</th>
								<th class="td-actions"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="prescription in prescriptions">
								<td>{{prescription.id}}</td>
								<td>{{prescription.lotNumber}}</td>
								<td>{{prescription.partNumber}}</td>
								<td>{{prescription.totalAmount}}</td>
								<td>{{prescription.totalAmountAfterHanded}}</td>
								<td>{{prescription.averageCost}}</td>
								<td class="td-actions">
									<a class="btn btn-small btn-success" href="javascript:;" ng-click="edit(prescription.id)">
										<i class="btn-icon-only icon-edit"> </i>Edit
									</a>
									<a class="btn btn-danger btn-small" href="javascript:;" ng-click="remove($index, prescription.id)">
										<i class="btn-icon-only icon-remove"> </i>Remove
									</a>
									<a class="btn btn-info btn-small" href="javascript:;" ng-click="show(prescription.id)">
										<i class="btn-icon-only icon-list-alt "> </i>Details
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    				<pre>Page: {{currentPage}} / {{numPages}}</pre>
				</form>
			</div>
		</div>
	</div>
</div>