<script type="text/ng-template" id="/dialogs/custom2.html">
	{{data.id}}
	{{id}}
	<div class="modal-header">
		<h4 class="modal-title"><span class="glyphicon glyphicon-star"></span> Custom Dialog 2</h4>
	</div>
	<div class="modal-body">
		<label class="control-label" for="customValue">Custom Value:</label>
		<input type="text" class="form-control" id="customValue" ng-model="data.val" ng-keyup="hitEnter($event)">
		<span class="help-block">Using "dialogsProvider.useCopy(false)" in your applications config function will allow data passed to a custom dialog to retain its two-way binding with the scope of the calling controller.</span>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="done()">Done</button>
	</div>
</script>
<div class="row">
	<div class="widget">
		<div class="widget-header">
		    <i class="icon-bar-chart"></i>
		    <h3>Search The Prescriptions</h3>
		</div>
		<div class="widget-content">
			<div class="tab-pane active" id="formcontrols">
				<div class="well">
                    <h4>DataTables Usage Information</h4>
                    <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a href="https://datatables.net/" target="_blank">https://datatables.net/</a>.</p>
                    <a href="https://datatables.net/" target="_blank" class="btn btn-default btn-lg btn-block">View DataTables Documentation</a>
                </div>			
				<form id="edit-profile" class="form-horizontal">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>{{ 'DATE' | translate }}</th>
								<th>{{ 'LOT_NUMBER' | translate }}</th>
								<th>{{ 'PART_NUMBER' | translate }}</th>
								<th>{{ 'TOTAL_AMOUNT' | translate }}</th>
								<th>{{ 'TOTAL_AMOUNT_AFTER_HANDED' | translate }}</th>
								<th>{{ 'AVERAGE_COST' | translate }}</th>
								<th class="td-actions"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="prescription in prescriptions">
								<td>{{prescription.id}}</td>
								<td>{{prescription.lotNumber}}</td>
								<td>{{prescription.partNumber}}</td>
								<td>{{prescription.totalAmount}}</td>
								<td>{{prescription.totalAmountAfterHanded}}</td>
								<td>{{prescription.averageCost}}</td>
								<td class="td-actions">
									<a class="btn btn-small btn-success" href="javascript:;">
										<i class="btn-icon-only icon-edit"> </i>Edit
									</a>
									<a class="btn btn-danger btn-small" href="javascript:;" ng-click="remove($index, prescription.id)">
										<i class="btn-icon-only icon-remove"> </i>Remove
									</a>
									<a class="btn btn-info btn-small" href="javascript:;" ng-click="show(prescription.id)">
										<i class="btn-icon-only icon-list-alt "> </i>Details
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    				<pre>Page: {{currentPage}} / {{numPages}}</pre>
				</form>
			</div>
		</div>
	</div>
</div>