<h3>{{ 'REPORT_OUTPUT' | translate }}</h3>
<div class="col-md-12 well">
	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">{{ 'START_DATE' | translate }}</label>
	    <div class="col-sm-5">
	    	<p class="input-group">
		       <input type="text" 
	            		 class="form-control" 
	            		 datepicker-popup="{{format}}" 
	            		 ng-model="reportQuery.startDate" 
	            		 is-open="opened1" 
	            		 min-date="minDate" 
	            		 max-date="'2015-06-22'" 
	            		 datepicker-options="dateOptions" 
	            		 date-disabled="disabled(date, mode)" 
	            		 ng-required="true" 
	            		 close-text="Close" 
	            		 readonly/>
		       <span class="input-group-btn">
		         <button type="button" class="btn btn-default" ng-click="open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
		       </span>
	        </p>
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">{{ 'END_DATE' | translate }}</label>
	    <div class="col-sm-5">
	    	<p class="input-group">
		       <input type="text" 
	            		 class="form-control" 
	            		 datepicker-popup="{{format}}" 
	            		 ng-model="reportQuery.endDate" 
	            		 is-open="opened2" 
	            		 min-date="minDate" 
	            		 max-date="'2015-06-22'" 
	            		 datepicker-options="dateOptions" 
	            		 date-disabled="disabled(date, mode)" 
	            		 ng-required="true" 
	            		 close-text="Close" 
	            		 readonly/>
		       <span class="input-group-btn">
		         <button type="button" class="btn btn-default" ng-click="open($event, 'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
		       </span>
	        </p>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">{{ 'LOT_NUMBER' | translate }}</label>
	    <div class="col-sm-5">
	      <input type="text" ng-model="reportQuery.lotNumber" class="form-control" id="lot-number">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">{{ 'PART_NUMBER' | translate }}</label>
	    <div class="col-sm-2">
			<script type="text/ng-template" id="customTemplate.html">
			<a><span bind-html-unsafe="match.label | typeaheadHighlight:query"></span></a>
		</script>
			<input type="text" 
					ng-model="reportQuery.partNumberHead"
					typeahead="c as c.partNumberHead for c in partNumberHeads | filter:$viewValue | limitTo:10" 
					typeahead-min-length='1' 
					typeahead-on-select='onSelectPart($item, $model, $label)' 
					typeahead-template-url="customTemplate.html" 
					class="form-control">
	    </div>
	    <div class="col-sm-3">
	      <input type="text" ng-model="reportQuery.partNumberBody" class="form-control" id="part-number-body">	
	    </div>
	  </div>
	  <div class="form-group">
	   <div class="col-sm-offset-2 col-sm-10">
	     <div class="checkbox">
	       <label>
	         <input type="checkbox" ng-mode="reportQuery.showPrice"> {{ 'SHOW_PRICE' | translate }}
	       </label>
	     </div>
	   </div>
	  </div>
	  <hr />
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-primary" ng-click="search()">{{ 'SEARCH' | translate }}</button>
	      <button type="submit" class="btn btn-danger" ng-click="clear()">{{ 'SEARCH_CLEAR' | translate }}</button>
	    </div>
	  </div>
	</form>
</div>

<div class="col-md-12 well animate-show" ng-show="searched">
	<div class="row">
	  <div class="col-xs-12 col-sm-6 col-md-8">
	  	<button type="button" class="btn btn-warning" ng-click="exportTo()">{{ 'EXPORT_REPORT' | translate }}</button>
	  </div>
	  <div class="col-xs-6 col-md-4">
	  	<pagination 
	  		total-items="totalItems" 
	  		ng-model="currentPage" 
	  		max-size="maxSize" 
	  		class="pagination-sm" 
	  		boundary-links="true" 
	  		rotate="false" 
	  		num-pages="numPages"
	  		first-text="{{ 'FIRST_PAGE' | translate }}"
	  		previous-text="{{ 'PREVIOUS_PAGE' | translate }}"
	  		next-text="{{ 'NEXT_PAGE' | translate }}"
	  		last-text="{{ 'LAST_PAGE' | translate }}"></pagination>
	  </div>
	</div>
	
       <table class="table table-striped table-bordered">
         <thead>
           <tr>
			<th>{{ 'DATE' | translate }}</th>
			<th>{{ 'LOT_NUMBER' | translate }}</th>
			<th>{{ 'PART_NUMBER' | translate }}</th>
			<th>{{ 'TOTAL_AMOUNT' | translate }}</th>
			<th>{{ 'TOTAL_AMOUNT_AFTER_HANDED' | translate }}</th>
			<th>{{ 'AVERAGE_COST' | translate }}</th>
           </tr>
         </thead>
         <tbody>
		<tr ng-repeat="prescription in prescriptions">
			<td>{{prescription.date}}</td>
			<td>{{prescription.lotNumber}}</td>
			<td>{{prescription.partNumber}}</td>
			<td>{{prescription.totalAmount}}</td>
			<td>{{prescription.totalAmountAfterHanded}}</td>
			<td>{{prescription.averageCost}}</td>
		</tr>
         </tbody>
       </table>
	<pagination 
	  		total-items="totalItems" 
	  		ng-model="currentPage" 
	  		max-size="maxSize" 
	  		class="pagination-sm" 
	  		boundary-links="true" 
	  		rotate="false" 
	  		num-pages="numPages"
	  		first-text="{{ 'FIRST_PAGE' | translate }}"
	  		previous-text="{{ 'PREVIOUS_PAGE' | translate }}"
	  		next-text="{{ 'NEXT_PAGE' | translate }}"
	  		last-text="{{ 'LAST_PAGE' | translate }}"></pagination>
	<pre>{{ 'PAGE' | translate }}: {{currentPage}} / {{numPages}}</pre>
</div>