<h3>{{ 'AUTHORISATION_MANAGE' | translate }}</h3>
	<div class="col-md-12 well">
		<div class="row">
		  <div class="col-xs-6 col-md-4">
		  	<pagination 
		  		total-items="totalItems" 
		  		ng-model="currentPage" 
		  		max-size="maxSize" 
		  		class="pagination-sm" 
		  		boundary-links="true" 
		  		rotate="false" 
		  		num-pages="numPages"
		  		first-text="{{ 'FIRST_PAGE' | translate }}"
		  		previous-text="{{ 'PREVIOUS_PAGE' | translate }}"
		  		next-text="{{ 'NEXT_PAGE' | translate }}"
		  		last-text="{{ 'LAST_PAGE' | translate }}"></pagination>
		  </div>
		</div>
		
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
				<th>{{ 'NAME' | translate }}</th>
				<th>{{ 'AUTHORISATION_MANAGE' | translate }}</th>
				<th>{{ 'REPORT_OUTPUT' | translate }}</th>
				<th>{{ 'PRESCRIPTION_CREATION_AUTH' | translate }}</th>
				<th>{{ 'PRESCRIPTION_MODIFICATION_AUTH' | translate }}</th>
				<th>{{ 'PRESCRIPTION_DELETION_AUTH' | translate }}</th>
				<th>{{ 'PRESCRIPTION_LIST_AUTH' | translate }}</th>
				<th></th>
            </tr>
          </thead>
          <tbody>
			<tr ng-repeat="user in users">
				<td>{{user.name}}</td>
				<td class="text-center"><i class="glyphicon" ng-class="{'glyphicon-ok':user.authorisation.accessUserModule,'glyphicon-remove':!user.authorisation.accessUserModule}"></i></td>
				<td class="text-center"><i class="glyphicon" ng-class="{'glyphicon-ok':user.authorisation.accessReportModule,'glyphicon-remove':!user.authorisation.accessReportModule}"></i></td>
				<td class="text-center"><i class="glyphicon" ng-class="{'glyphicon-ok':user.authorisation.createPrescription,'glyphicon-remove':!user.authorisation.createPrescription}"></i></td>
				<td class="text-center"><i class="glyphicon" ng-class="{'glyphicon-ok':user.authorisation.deletePrescription,'glyphicon-remove':!user.authorisation.deletePrescription}"></i></td>
				<td class="text-center"><i class="glyphicon" ng-class="{'glyphicon-ok':user.authorisation.modifyPrescription,'glyphicon-remove':!user.authorisation.modifyPrescription}"></i></td>
				<td class="text-center"><i class="glyphicon" ng-class="{'glyphicon-ok':user.authorisation.listPrescription,'glyphicon-remove':!user.authorisation.listPrescription}"></i></td>
				<td>
					<button type="button" class="btn btn-success" ng-click="edit(user.id)">{{ 'MODIFY' | translate }}</button>
					<button type="button" class="btn btn-danger" ng-click="remove($index, user.id)">{{ 'DELETE' | translate }}</button>
					<button type="button" class="btn btn-info" ng-click="show(user.id)">{{ 'DETAILS' | translate }}</button>
				</td>
			</tr>
          </tbody>
        </table>
		<pagination 
		  		total-items="totalItems" 
		  		ng-model="currentPage" 
		  		max-size="maxSize" 
		  		class="pagination-sm" 
		  		boundary-links="true" 
		  		rotate="false" 
		  		num-pages="numPages"
		  		first-text="{{ 'FIRST_PAGE' | translate }}"
		  		previous-text="{{ 'PREVIOUS_PAGE' | translate }}"
		  		next-text="{{ 'NEXT_PAGE' | translate }}"
		  		last-text="{{ 'LAST_PAGE' | translate }}"></pagination>
		<pre>{{ 'PAGE' | translate }}: {{currentPage}} / {{numPages}}</pre>
	</div>
