<h3>{{ 'CHANGE_PASSWORD' | translate }}</h3>
<div class="col-md-12 well">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	
	<form class="form-horizontal" name="passwordForm" ng-submit="submit(passwordForm.$valid)" novalidate>

	  <div class="form-group" ng-class="{ 'has-error' : passwordForm.password.$invalid && !passwordForm.password.$pristine }">
	    <label for="label-password" class="col-sm-2 control-label">{{ 'NEW_PASSWORD' | translate }}</label>
	    <div class="col-sm-3">
	      <input type="password" name="password" ng-model="password.password" class="form-control" placeholder="{{ 'MSG_NEW_PASSWORD' | translate }}" ng-minlength="3" ng-maxlength="13" required>
	      <p ng-show="passwordForm.password.$error.required" class="help-block">{{ 'THE_FIELD_IS_REQUIRED' | translate }}</p>
	      <p ng-show="passwordForm.password.$error.minlength" class="help-block">{{ 'DATA_TOO_SHORT' | translate }}</p>
          <p ng-show="passwordForm.password.$error.maxlength" class="help-block">{{ 'DATA_TOO_LONG' | translate }}</p>
	    </div>
	  </div>
	  
	  <div class="form-group" ng-class="{ 'has-error' : passwordForm.newPasswordConfirm.$invalid && !passwordForm.newPasswordConfirm.$pristine }">
	    <label for="label-password-again" class="col-sm-2 control-label">{{ 'NEW_PASSWORD_AGAIN' | translate }}</label>
	    <div class="col-sm-3">
	      <input type="password" name="newPasswordConfirm" ng-model="newPasswordConfirm" class="form-control" placeholder="{{ 'MSG_NEW_PASSWORD_AGAIN' | translate }}" match="password.password">
	      <p ng-show="passwordForm.newPasswordConfirm.$error.match" class="help-block">{{ 'PASSWORD_DOES_NOT_MATCH' | translate }}</p>	
	    </div>
	  </div>
	  
			            
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
			<jp-ng-bs-animated-button is-submitting="isSubmitting" result="result" options="options" ng-disabled="passwordForm.$invalid"></jp-ng-bs-animated-button>
	    </div>
	  </div>
	</form>
</div>