<div class="row">
	<div class="widget">
		<div class="widget-header">
		    <i class="icon-search"></i>
		    <h3>Search The Prescriptions By Date</h3>
		</div>
		<div class="widget-content">
			<div class="tab-pane active" id="formcontrols">
				<form id="edit-profile" class="form-horizontal">
					<fieldset>
						<div class="control-group">											
							<label class="control-label" for="firstname">Start Date</label>
							<div class="controls">
								<div class="input-append date" id="datepicker-start-date" data-date="2012-01-01" data-date-format="yyyy-mm-dd">
									<input type="text" class="span4" id="start-date" readonly>
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
							</div>
						</div>
						<div class="control-group">											
							<label class="control-label" for="firstname">End Date</label>
							<div class="controls">
								<div class="input-append date" id="datepicker-end-date" data-date="2012-12-31" data-date-format="yyyy-mm-dd">
									<input type="text" class="span4" id="end-date" readonly>
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
							</div>
						</div>
						
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">Submit</button> 
							<button type="reset" class="btn">Reset</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
<script language="JavaScript">
$('#datepicker-start-date').datepicker().on('changeDate', function(ev){
	$('#datepicker-start-date').datepicker('hide');
});

$('#datepicker-end-date').datepicker().on('changeDate', function(ev){
	$('#datepicker-end-date').datepicker('hide');
});
</script>